.input{
    width: 340px;
    height: 39px;
    border-radius: 8px;
    border-color: #ad9be9;
}
.label{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 1rem;
}
.container{
    display: flex;
    background-color: #ad9be9;
    border-radius: 8px;
    gap: 2rem;
    width: 900px;
    height: 300px;
    align-items: center;
    margin-left: 150px;
}